.custom-form label {
    padding-left: 0px;
}

.custom-form .left-controls{
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.custom-form .link{
    display: flex; 
    align-items: center; 
    width: 100%;
}