$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1500px
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       #4c84ff !default;
$dark:          #1b223c !default;
$secondary:     #8a909d !default;
$white:         #ffffff !default;
$input-text:    #3b3b3b;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;


// Fonts:           ;

$font-family-sans-roboto:       'Roboto', sans-serif !default;
$font-family-matetial-icon:     'Material Design Icons' !default;
$font-family-base:              $font-family-sans-roboto !default;
$font-family-icon:              $font-family-matetial-icon !default;

$font-size-base:                .875rem !default;
$font-weight-medium:            500!default;
$font-size-16:16px;
$font-size-14:14px;
$font-size-11:11px;